.Container {
    text-align: center;
    margin-top: 100px;
    color: #825CFF;
    padding: 0 20px;
  }
    
  #MedioTec {
    text-align: center;
    margin-bottom: -20px;
    font-size: 10px;
    color: #4F20EC;
  }
  
  .input-field {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 30px auto;
  }
  
  .input-field input {
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: 1.5px solid #825CFF;
    border-radius: 10px;
    color: black;
    padding: 15px 20px;
  }
  
  .input-field input::placeholder {
    color: rgb(145, 128, 160);
  }
  
  .input-field .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #825CFF;
  }
  
  /* Ajustes para centralizar */
  #recal-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: -10px auto 25px;
    max-width: 400px;
    width: 100%;
  }
  
  #label {
    display: flex;
    align-items: center;
    color: #825CFF;
  }
  
  #label input {
    margin-right: 5px;
  }
  
  #Lembre {
    margin-top: -12px;
  }
  
  #Esqueceu {
    margin-top: -13px;
    color: #825CFF;
    text-decoration: none;
  }
  
  #Esqueceu:hover {
    color: rgb(71, 32, 108);
  }
  
  #button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background-color: #4F20EC;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 10px;
  }
  
  #button:hover {
    background-color: #3F18C0;
  }
  
  #Checkbox {
    margin-left: 5px;
    cursor: pointer;
    margin-top: -12px;
  }
  
  