.home-page {
    display: flex;
    height: 100vh; 
    background-color: #F5F5FB;
}

.side {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%; 
    background-color: #ffffff; 
    transition: transform 0.3s ease; 
    transform: translateX(-100%);
    padding: 20px; 
    overflow-y: auto; 
    
}

#MedioTec {
    height: 50px;
    margin-left: 40px;
}

.side.open {
    transform: translateX(0); 
}

.side ul {
    list-style: none; 
    margin-left: 25px;
}

.side ul li:first-child {
    margin-top: 50px; 
}

.side li {
    margin: 10px 0; 
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.side a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none; 
    transition: color 0.3s;
}

.side a:hover {
    color:#FF8A00; 
}

#Voltar {
    width: 100%;
    max-width: 100px;
    height: 35px;
    background-color: #f4f4f9;
    border: 1.5px solid #FF8A00;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    color: #FF8A00;
    margin-top: 90px;
    margin-left: 55px;
    justify-content: center;
    transition: background-color 0.3s ease;
}








