.home-aluno-container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #F5F5FB;
}

.header-image-aluno {
    position: relative; /* Posiciona a imagem em relação ao container */
    width: 60%; /* Largura total */
    height: auto; /* Altura automática */
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: 100px;
    margin-left: 30%;
}


.squaresaluno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 33%;
}

.Bloco {
    width: 80%; 
    height: 100px; 
    background-color: #FF8A00;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: -40px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 16px; 
    color: white; 
    font-weight: bold; 
    text-align: center;
    position: relative; 
    border-radius: 10px;
    text-decoration: none;
}

.Bloco:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.Bloco:nth-child(1) {
    background: linear-gradient(135deg, #3F58D9, #001065); 
}

.Bloco:nth-child(2) {
    background: linear-gradient(135deg, #EF84D8, #940074); 
}

.Bloco:nth-child(3) {
    background: linear-gradient(135deg, #76FF9C, #00B01C); 
}

.Bloco:nth-child(4) {
    background: linear-gradient(135deg, #FF8A00, #ffb35c); 
}


.Bloco::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.BemVindo {
    text-align: center; 
    font-size: 30px; 
    color: #FF8A00; 
    margin-top: 60px; 
    margin-bottom: -80px; 
    margin-left: -280px;
    font-weight: bold; 
}





