.home-coord-container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #F5F5FB;
}

.header-image-coord {
    position: relative; /* Posiciona a imagem em relação ao container */
    width: 60%; /* Largura total */
    height: auto; /* Altura automática */
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: 100px;
    margin-left: 30%;
}

/* Estilos para os quadrados abaixo da imagem */
.squares-container-coord {
    display: grid; /* Usar grid para layout */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaço entre os quadrados */
    padding: 20px; /* Espaço ao redor da grid */
    margin-top: 20px; /* Espaço superior para distanciar dos itens acima */
    margin-left: 30%; /* Centraliza em relação à sidebar */
}

.squarecoord {
    width: 80%; 
    height: 100px; /* Altura fixa dos quadrados */
    background-color: #E0E0E0; /* Cor de fundo dos quadrados */
    border: 1px solid #ccc; /* Borda opcional */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    margin-left: -40px;
}

.welcome-text {
    text-align: center; 
    font-size: 30px; 
    color: #825CFF; 
    margin-top: 60px; 
    margin-bottom: -80px; 
    margin-left: -280px;
    font-weight: bold; 
}





