/* Estilo geral da página */
.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Barra {
  height: 25px;
  background-color: #825CFF;
}

#FaleConosco {
  font-size: 12px;
  color: white;
  padding-left: 30px;
  margin-top: 6px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1;
  height: 85px;
}

.logo img {
  margin-left: 50px;
  max-width: 120px;
  height: auto;
}

.menu-button {
  margin-top: 8px;
  margin-right: 60px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
  border: #825CFF;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
}

.menu-button:hover {
  background-color: rgb(71, 32, 108);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  padding: 10px;
  color: rgb(71, 32, 108);
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu a:hover {
  background-color: rgb(71, 32, 108);
  color: white;
}

/* Contêiner principal com imagem de fundo */
#Fundo {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: 100px; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.home-content {
  margin-left: 50px;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {

  .logo img {
    max-width: 120px;
  }
}

/* Barra Informações */
#Infos {
  display: flex;              
  list-style-type: none;      
  margin-left: 400px; 
  padding: 17px;
  justify-content: center;     
  gap: 50px; 
  color: #BEAAFF;
}

#Home:hover {
  color: #825CFF;
  cursor: pointer;
}

#Inst:hover {
  color: #825CFF;
  cursor: pointer;
}

#Sobre:hover {
  color: #825CFF;
  cursor: pointer;
}

#Contato:hover {
  color: #825CFF;
  cursor: pointer;
}

.quadro-inferior {
  background-color: white;
  margin-bottom: -20px;
  padding: 70px;
  text-align: center;
  position: absolute;
  bottom: -190px;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1;
  box-shadow: 0px 10px 5px 4px rgba(0, 0, 0, 0.2);
}

#Legenda1 {
  color: #825CFF;
  margin-left: -200px;
  margin-top: -30px;
  font-weight: 700;
}

