/* Estilo geral da página */
.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Barra {
  height: 25px;
  background-color: #825CFF;
}

#FaleConosco {
  font-size: 12px;
  color: white;
  margin-left: 40px;
  margin-top: 6px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1;
}

.logo img {
  max-width: 120px;
  height: auto;
}

.menu-button {
  padding: 10px 20px;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: rgb(71, 32, 108);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  padding: 10px;
  color: rgb(71, 32, 108);
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu a:hover {
  background-color: rgb(71, 32, 108);
  color: white;
}

/* Contêiner principal com imagem de fundo */
.home-container {
  flex: 1;
  background-image: url('/img/image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-content {
  margin-left: 50px;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {

  .logo img {
    max-width: 120px;
  }
}
