.home-prof-container {
    display: flex;
    height: 100vh; 
    background-color: #F5F5FB;
    overflow-x: hidden;
    padding: 25px; 
}
.home-page-prof {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
}
.header-image-prof {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

.header-image-prof img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.BemvindoProf {
    text-align: center;
    font-size: 30px;
    color: #0B429D;
    margin: 60px 0;
    font-weight: bold;
}

.Quadro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 20px auto; 
    width: 100%; 
    max-width: 800px;
}

.Quadros {
    width: 100%; 
    max-width: 400px;
    height: 100px;
    background-color: #FF8A00;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
}

.Quadros:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.Quadros:nth-child(1) {
    background: linear-gradient(135deg, #3F58D9, #001065);
}

.Quadros:nth-child(2) {
    background: linear-gradient(135deg, #EF84D8, #940074);
}

.Quadros:nth-child(3) {
    background: linear-gradient(135deg, #76FF9C, #00B01C);
}

.Quadros:nth-child(4) {
    background: linear-gradient(135deg, #FF8A00, #ffb35c);
}

.Quadros::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .Quadro {
        grid-template-columns: 1fr; 
        justify-items: center; 
    }


    #Fundocoord {
        width: 100%; 
        height: auto;
    }

    .BemvindoProf {
        font-size: 24px;
    }

}
