.sidebar-container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #F5F5FB;
}
  
  /* Sidebar */
.sidebar-Aluno {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largura da sidebar */
    height: 100%; /* Altura total */
    background-color: #ffffff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    padding: 20px;
    overflow-y: auto;
}
  
#MedioTecAluno {
    height: 50px;
    margin-left: 40px;
}
  
.sidebar-Aluno.open {
    transform: translateX(0); /* Mostra a sidebar-Aluno quando aberta */
}
  
.sidebar-Aluno ul {
    list-style: none;
    margin-left: 25px;
}
  
.sidebar-Aluno ul li:first-child {
    margin-top: 50px;
}
  
.sidebar-Aluno li {
    margin: 10px 0;
    padding: 10px;
}
  
.sidebar-Aluno a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: color 0.3s;
}
  
.sidebar-Aluno a:hover {
    color:#FF8A00; 
}

.SairAluno {
    width: 100%;
    max-width: 100px;
    height: 35px;
    background-color: #f4f4f9;
    border: 1.5px solid #FF8A00;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    color: #FF8A00;
    margin-top: 90px;
    margin-left: 55px;
    justify-content: center;
    transition: background-color 0.3s ease;
}