.sidebar-container-prof {
    display: flex;
    height: 100vh;
    background-color: #F5F5FB;
    position: relative;
}

.sidebar-prof {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    padding: 20px;
    overflow-y: auto;
    z-index: 999;
}

.sidebar-prof.open {
    transform: translateX(0);
}

#MedioTecprof {
    height: 50px;
    margin-left: 40px;
}

.sidebar-prof ul {
    list-style: none;
    margin-left: 25px;
}

.sidebar-prof ul li:first-child {
    margin-top: 50px;
}

.sidebar-prof li {
    margin: 10px 0;
    padding: 10px;
}

.sidebar-prof a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar-prof a:hover {
    color: #0B429D;
}

.sidebar-toggle-prof {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    color: #0B429D;
}

.sidebar-toggle-prof:focus {
    outline: none;
}

.Sairprof {
    width: 100%;
    max-width: 100px;
    height: 35px;
    background-color: #f4f4f9;
    border: 1.5px solid #0B429D;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    color: #0B429D;
    margin-top: 90px;
    margin-left: 55px;
    justify-content: center;
    transition: background-color 0.3s ease;
}

@media (max-width: 641px) {
    .sidebar-prof {
        width: 80%;
    }

    .sidebar-toggle-prof {
        top: 10px;
        left: 10px;
    }
}
