.sidebar-container-home {
  display: flex;
  height: 100vh; /* Ocupa toda a altura da tela */
  background-color: #F5F5FB;
  position: relative; /* Garantindo que o botão flutue corretamente */
}

/* Sidebar */
.sidebar-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Largura da sidebar */
  height: 100%; /* Altura total */
  background-color: #ffffff;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Escondida por padrão */
  padding: 20px;
  overflow-y: auto;
  z-index: 999; /* Garante que a sidebar fique acima do conteúdo */
}

.sidebar-home.open {
  transform: translateX(0); /* Mostra a sidebar quando aberta */
}

#MedioTecHome {
  height: 50px;
  margin-left: 40px;
}

.sidebar-home ul {
  list-style: none;
  margin-left: 25px;
}

.sidebar-home ul li:first-child {
  margin-top: 50px;
}

.sidebar-home li {
  margin: 10px 0;
  padding: 10px;
}

.sidebar-home a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar-home a:hover {
  color: #825cff; 
}

/* Botão para abrir/fechar a sidebar */
.sidebar-toggle-home {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Coloca o botão acima da sidebar */
  color: #825cff; /* Cor do ícone */
}

.sidebar-toggle-home:focus {
  outline: none; /* Remove o outline ao focar */
}

/* Estilos para o botão "Sair" */
.SairHome {
  width: 100%;
  max-width: 100px;
  height: 35px;
  background-color: #f4f4f9;
  border: 1.5px solid #825cff;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  color: #825cff;
  margin-top: 90px;
  margin-left: 55px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

/* Responsividade */
@media (max-width: 641px) {
  .sidebar-home {
      width: 80%; /* Sidebar ocupa toda a largura da tela em dispositivos móveis */
  }

  .sidebar-toggle-home {
      top: 10px;
      left: 10px;
  }
}
