.sidebar-container-home {
  display: flex;
  height: 100vh; 
  background-color: #F5F5FB;
  position: relative; 
}

.sidebar-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
}

.sidebar-home.open {
  transform: translateX(0);
}

#MedioTecHome {
  height: 50px;
  margin-left: 40px;
}

.sidebar-home ul {
  list-style: none;
  margin-left: 25px;
}

.sidebar-home ul li:first-child {
  margin-top: 50px;
}

.sidebar-home li {
  margin: 10px 0;
  padding: 10px;
}

.sidebar-home a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar-home a:hover {
  color: #825cff; 
}

.sidebar-toggle-home {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: #825cff;
}

.sidebar-toggle-home:focus {
  outline: none;
}

.SairHome {
  width: 100%;
  max-width: 100px;
  height: 35px;
  background-color: #f4f4f9;
  border: 1.5px solid #825cff;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  color: #825cff;
  margin-top: 90px;
  margin-left: 55px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

@media (max-width: 641px) {
  .sidebar-home {
      width: 80%;
  }

  .sidebar-toggle-home {
      top: 10px;
      left: 10px;
  }
}
