.coord-container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  min-height: 100vh; /* Define a altura mínima como 100% da altura da viewport */
  margin: 0; /* Remove margens externas */
  padding: 0 20px; /* Pode ajustar conforme necessário */
  color: #825CFF;
}

.coord-login-box {
  background-color: #f8f6ff;
  padding: 40px 20px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  position: relative; /* Para que o ícone de fechar fique posicionado corretamente */
}

.coord-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #825cff;
  cursor: pointer;
}

.coord-close-icon:hover {
  color: #3f18c0;
}

.coord-logo {
  display: flex; /* Usar flexbox para centralizar */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente se o contêiner tiver altura definida */
  margin: 0 auto; /* Garante que o contêiner também esteja centralizado */
}

.coord-logo img {
  width: 170px;
  margin-bottom: 30px;
  display: block; /* Faz a imagem ser um bloco */
}

.coord-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  font-size: 20px;
  color: #4F20EC;
  letter-spacing: 1px;
  font-weight: 700;
}

.coord-input-field {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin: 30px auto;
}

.coord-input-field input {
  width: 100%;
  height: 100%;
  background-color: white;
  outline: none;
  border: 1px solid #825CFF;
  border-radius: 7px;
  color: black;
  padding: 15px 20px;
}

.coord-input-field input::placeholder {
  color: rgb(145, 128, 160);
}

.coord-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  color: #825CFF;
}

.coord-recall-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: -10px auto 25px;
  max-width: 400px;
  width: 100%;
}

.coord-label {
  display: flex;
  align-items: center;
  color: #825CFF;
}

.coord-checkbox {
  margin-right: 5px;
}

.coord-remember {
  margin-top: -12px;
}

.coord-forgot {
  margin-top: -13px;
  color: #825CFF;
  text-decoration: none;
}

.coord-forgot:hover {
  color: rgb(71, 32, 108);
}

.coord-button {
  width: 100%;
  max-width: 400px;
  height: 45px;
  background-color: #4F20EC;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.coord-button:hover {
  background-color: #3F18C0;
}

.coord-home-button {
  width: 100%;
  max-width: 100px;
  height: 35px;
  background-color: #f4f4f9;
  border: 1.5px solid #825cff;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  color: #825cff;
  margin-top: 20px;
  margin-bottom: -10px;
  transition: background-color 0.3s ease;
}

.coord-home-button:hover {
  background-color: #d9d4e8;
  color: #4f20ec;
}

.coord-checkbox {
  margin-left: 5px;
  cursor: pointer;
  margin-top: -12px;
}

@media (max-width: 500px) {
  .coord-login-box {
      padding: 20px 10px;
  }
}
