.Container {
    text-align: center;              
    margin-top: 30px;                
    color: #825CFF;                 
    padding: 0 20px;                 
    display: flex;                   
    justify-content: center;          
}

#CadGeralBox {
    background-color: #f8f6ff;      
    padding: 40px 20px;              
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1); 
    max-width: 450px;                
    width: 100%;                     
}

.closeIcon {
    position: absolute;               
    top: 15px;                        
    right: 15px;                      
    font-size: 24px;                 
    color: #825cff;                 
    cursor: pointer;                  
}

.closeIcon:hover {
    color: #3f18c0;                  
}

#LogoCadGeral img {
    width: 170px;                   
    margin-bottom: 20px;             
}

#NomeCadastro {      
    margin: 10px auto;               
    font-size: 20px;                 
    color: #4F20EC;                 
    letter-spacing: 1px;             
    font-weight: 700;               
    width: fit-content;              
}

.input-field {
    position: relative;               
    width: 100%;                     
    max-width: 400px;                
    height: 50px;                    
    margin: 30px auto;               
}

.input-field input,
.input-field select {
    width: 100%;                     
    height: 100%;                    
    background-color: white;         
    outline: none;                   
    border: 1px solid #825CFF;       
    border-radius: 7px;              
    color: black;                    
    padding: 15px 20px;              
}

.input-field input::placeholder,
.input-field select {
    color: rgb(145, 128, 160);       
}

#button {
    width: 100%;                     
    max-width: 400px;                
    height: 45px;                    
    background-color: #4F20EC;       
    border: none;                    
    outline: none;                   
    border-radius: 7px;              
    cursor: pointer;                  
    font-size: 16px;                 
    color: white;                    
    margin-top: 10px;                
    transition: background-color 0.3s ease; 
}

#button:hover {
    background-color: #3F18C0;       
}

#homeButton {
    width: 100%;                    
    max-width: 100px;               
    height: 35px;                    
    background-color: #f4f4f9;       
    border: 1.5px solid #825cff;     
    outline: none;                   
    border-radius: 7px;              
    cursor: pointer;                  
    font-size: 15px;                 
    color: #825cff;                  
    margin-top: 20px;               
    margin-bottom: -10px;            
    transition: background-color 0.3s ease; 
}

#homeButton:hover {
    background-color: #d9d4e8;       
    color: #4f20ec;                  
}

@media (max-width: 500px) {
    #CadGeralBox {
        padding: 20px 10px;          
    }
}
